# Node.js
node_modules/
package-lock.json


# Logs and OS-specific files
*.log
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment variables
.env.local
.env

# Compiled files
*.class
*.o
*.so

# Build files
dist/
build/
out/